{{#each details.data.indicators.edges as |result index|}}
  {{#if (gt index 0)}}
    <hr />
  {{/if}}
  <span class='p-title'>{{fa-icon icon='bug' fixedWidth=true}}
    Indicator #{{inc index}}
    Details:</span>
  {{#if result.node.name}}
    <div>
      <span class='p-key'>Indicator:</span>
      <a
        href='{{block.userOptions.url}}/dashboard/observations/indicators/{{result.node.id}}'
        class='p-link'
      >
        {{result.node.name}}
        {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
    </div>
  {{/if}}
  {{#if result.node.x_opencti_score}}
    <div>
      <span class='p-key'>Score:</span>
      <span class='p-value'><b>{{result.node.x_opencti_score}}/100</b></span>
    </div>
  {{/if}}
  {{#if result.node.confidence}}
    <div>
      <span class='p-key'>Confidence Level:</span>
      <span class='p-value'><b>{{result.node.confidence}}</b></span>
    </div>
  {{/if}}
  {{#if (eq result.node.x_opencti_detection false)}}
    <div>
      <span class='p-key'>Detection:</span>
      <span class='p-value' style='color:red'><b>NO</b></span>
    </div>
  {{/if}}
  {{#if (eq result.node.x_opencti_detection true)}}
    <div>
      <span class='p-key'>Detection:</span>
      <span class='p-value' style='color:green'><b>YES</b></span>
    </div>
  {{/if}}
  {{#if (eq result.node.revoked true)}}
    <div>
      <span class='p-key'>Revoked:</span>
      <span class='p-value' style='color:red'><b>YES</b></span>
    </div>
  {{/if}}
  {{#if (eq result.node.revoked false)}}
    <div>
      <span class='p-key'>Revoked:</span>
      <span class='p-value' style='color:green'><b>NO</b></span>
    </div>
  {{/if}}
  {{#if result.node.createdBy.name}}
    <div>
      <span class='p-key'>Author:</span>
      <a
        href='{{block.userOptions.url}}/dashboard/entities/organizations/{{result.node.createdBy.id}}'
        class='p-link'
      >
        {{result.node.createdBy.name}}
        {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
    </div>
  {{/if}}
  {{#if result.node.pattern_type}}
    <div>
      <span class='p-key'>Pattern Type:</span>
      <span class='p-value'>{{result.node.pattern_type}}</span>
    </div>
  {{/if}}
  {{#if result.node.pattern_version}}
    <div>
      <span class='p-key'>Pattern Version:</span>
      <span class='p-value'>{{result.node.pattern_version}}</span>
    </div>
  {{/if}}
  {{#if result.node.pattern}}
    <div>
      <span class='p-key'>Pattern:</span>
      <span class='p-value'>{{result.node.pattern}}</span>
    </div>
  {{/if}}
  {{#if result.node.valid_from}}
    <div>
      <span class='p-key'>Valid From:</span>
      <span class='p-value'>{{result.node.valid_from}}</span>
    </div>
  {{/if}}
  {{#if result.node.valid_until}}
    <div>
      <span class='p-key'>Valid Until:</span>
      <span class='p-value'>{{result.node.valid_until}}</span>
    </div>
  {{/if}}
  {{#if result.node.objectLabel.edges}}
    <div class='p-title'>
      {{fa-icon 'tag' fixedWidth=true}}
      Labels
    </div>
    <div class='tags'>
      {{#each result.node.objectLabel.edges as |label|}}
        <span class='tag'>{{label.node.value}}</span>
      {{/each}}
    </div>
  {{/if}}
{{/each}}